<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="site-banner" style="text-align:center; margin-bottom: 20px;">
      <img src="/assets/images/Banner.png" 
           alt="Echo Mythos Banner" 
           style="max-width: 100%; height: auto; display: inline-block;">
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    {%- include sub-footer.html -%}

  </body>
</html>
