<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="site-banner">
      <img src="/assets/images/banner.png" alt="Echo Mythos Banner" style="width:100%; height:auto;">
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    {%- include sub-footer.html -%}

  </body>
</html>
